<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Yukiko" src="{{ site.url }}/images/head2-tn.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="http://instagram.com/yukikoirlyn">
                <i class="fa fa-instagram">
                </i>
            </a>
            <a class="social" href="http://medium.com/@yukikoirlyn">
                <i class="fa fa-medium">
                </i>
            </a>
            <a class="social" href="mailto:irliyaniyukiko@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="https://www.linkedin.com/in/yukiko-irliyani/">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="http://twitter.com/yukikoirlyn">
                <i class="fa fa-twitter">
                </i>
            </a>
        </div>
        <p class="description">Data / ETL / Dev / Analysis / Visualization</p>

    </div>

</div>
